* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgb(26, 26, 26);
    font-size: 1rem;
}

#title {
    color: black;
    padding: 10px;
    background-color: white;
    text-align: center;
}